<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/styles/app.css">
</head>
<body>
  <div class="container">
    <div class="container-wrapper">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title"><%= title %></h1>
        </div>
        <div class="panel-body">
          <div id="content_container"><%- contentElements %></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.__initialData__ = <%- data %>;
  </script>
  <script src="/static/scripts/bundle.js"></script>
</body>
</html>
