<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles/app.css">
</head>
<body>
  <div class="container">
    <div class="container-wrapper">
      <div id="content_container"><%- contentElements %></div>
    </div>
  </div>
  <script src="/static/scripts/bundle.js"></script>
</body>
</html>
