<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/styles/app.css">
</head>
<body>
  <div class="container">
    <div class="container-wrapper">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Isomorphic App Benchmark</h1>
        </div>
        <div class="panel-body">
          <p>
            <a href="/client">
              <i class="fa fa-angle-double-right"></i>
              Client rendering
            </a>
          </p>
          <p>
            <a href="/isomorphic">
              <i class="fa fa-angle-double-right"></i>
              Isomorphic rendering
            </a>
          </p>
          <p>
            <a href="/client-no-ajax">
              <i class="fa fa-angle-double-right"></i>
              Client rendering without AJAX
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
